[submodule "pypi-dcg/pycallgraph2"]
	path = pypi-dcg/pycallgraph2
	url = https://github.com/vitsalis/pycallgraph2
[submodule "cg-producer/PyCG"]
	path = cg-producer/PyCG
	url = git@github.com:vitsalis/PyCG.git
